body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: ivory;
}
h3#artist{      /* h3생략가능 */
    color: blue;
}
h4.sub{
    color: orange;
}
#description{
    line-height: 1.5em;
}
#pop{
    color: cadetblue;
}